<title>My application deployed automatically</title>
<h1>DID YOU PASS?</h1>
  <br>
  <h3>Firstly, enter your 5 lab scores 10 points each(%10). Secondly, enter your midterm score(%25).</h3>
  <br>
  <h3>Thirdly, enter your final score(%45). Finally enter your project score(%20).</h3>
  <br>
Did you pass the class?  {{result}}

<form action="compute" method="post">
    <textarea name="input1" rows="30" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
    <textarea name="input4" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>